
{
  padding: 1px;
}

.item {
  border: 2px dashed #999;
  font-style: italic;
  color: #999;
  padding: 1em;
}

.item a.learnmore {
  font-style: normal;
}

.clickable:hover a.learnmore {
  text-decoration: underline;
}
