
.item {
  margin-bottom: 2em;
}

.clickable:hover a.learnmore {
  text-decoration: underline;
}

.title {
  float: left;
}

.title h2.title2 {
  color: #fff;
  background-color: #222;
  line-height: 125%;
  margin-top: 1px;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding: 0.35em;
}
