.body {
  margin-bottom: 2em;
}

.body > a.learnmore {
  display: block;
  margin-bottom: 1.75em;
}

.clickable:hover a.learnmore {
  text-decoration: underline;
}

h2 {
  float: left;
  color: #fff;
  background-color: #222;
  line-height: 125%;
  margin-top: 1px;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding: 0.35em;
}
