
.left_pane {
  vertical-align: top;
  padding-right: 5px;
}

.right_pane {
  vertical-align: top;
  text-align: justify;
  text-justify: newspaper;
  padding-left: 5px;
}

.left_pane h2.title {
  font-size: 72pt;
  font-weight: bold;
  line-height: 100%;
}
