div.tabs hr.nopad {
  padding: 0;
  margin: 0;
}

div.tabs table {
  padding: 0;
  margin: 0 auto;
}

div.tabs td.tab {
  text-align: center;
}

div.tabs td.tab a.fatlink {
  display: block;
  padding: 0.65em;
}

div.tabs td.tab a {
  color: #aaa;
}

div.tabs td.selected a {
  color: #ff2800;
}

div.tabs td.clickable {
  cursor: pointer;
}

div.tabs td.tab:hover a {
  color: #ff2800;
  text-decoration: underline;
}

div.tabs {
  margin: 3.5em 0 4.5em 0;
}
